:root {
    --color-purple: rgb(192, 25, 192);
    --color-purple-darker: purple;
}

.card-sign h2.title {
    background-color: var(--color-purple) !important;
}

.body-sign .card-sign .card-body {
    border-top: 5px solid var(--color-purple);
}
.btn-primary {
    background-color: var(--color-purple);
    border: none;
}
.btn-primary:hover,
.btn-primary:active {
    background-color: var(--color-purple-darker);
}

.text-purple {
    color: var(--color-purple);
}

.logo.float-start {
    transform: translateY(20px)
}
.reset {
    color: var(--color-purple);
}
.reset:hover {
    color: var(--color-purple-darker);
}