@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --color-purple: rgb(192, 25, 192);
    --color-purple-darker: purple;
}

/* Profile */
img {
    max-width: 100%;
}

#profile-image {
    width: 50%;
}

.profile-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
}


/* Custom Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 22px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #800080;
    /* Purple background color when checked */
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

.card-sign h2.title {
    background-color: var(--color-purple) !important;
}

.body-sign .card-sign .card-body {
    border-top: 5px solid var(--color-purple);
}

.btn-primary {
    background-color: var(--color-purple);
    border: none;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: var(--color-purple-darker) !important;
}

.btn-primary-outline {
    background: transparent;
    border: 2px solid var(--color-purple);
    color: var(--color-purple);
}

.btn-primary-outline:hover {
    background: var(--color-purple);
    color: #fff;
}

.text-purple {
    color: var(--color-purple);
}

.logo.float-start {
    transform: translateY(20px)
}

.reset {
    color: var(--color-purple);
}

.reset:hover {
    color: var(--color-purple-darker);
}

.status {
    display: inline-block;
    width: 65%;
    margin: 0 auto;
    padding: .4rem;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
}

.status.delivered {
    background: #a7ecbe;
    color: green !important;
}

.status.pending {
    background: rgb(241, 210, 153);
    color: rgb(189, 125, 7) !important;
}

.status.shipped {
    background: rgb(157, 187, 243);
    color: blue !important;
}


/* Section Hero */
.section-hero {
    height: 100vh;
    background: linear-gradient(to right bottom, #000000a6, #00000088), url('../img/uni-hero.jpg');
    background-size: cover;
    font-family: 'Inter', sans-serif;
}

.section-hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.section-hero .container h1 {
    font-size: 9rem;
    font-weight: 700;
    color: #fff;
}

.section-hero .container h1 span {
    color: var(--color-purple);
}

.section-hero .container h5 {
    font-size: 1.3rem;
    color: #ccc;
}

@media (max-width: 767px) {
    .section-hero .container h1 {
        font-size: 2.5rem;
    }

    .section-hero .container h5 {
        font-size: .9rem;
    }
}

.section-about {
    padding: 3rem 0;
    font-family: 'Inter', sans-serif;
}

.section-about img {
    border-radius: 8px;
}

.section-about p {
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #888;
}